html, body {
 position: relative;
 height: 100%;
}

body {
    font-family: helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
} 

.swiper{
    width: 100%;
    padding: 50px 0 60px 0;
}


.swiper-slide {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(99, 99, 99, 0.4);
    padding: 40px;
    text-align: center;
    border-radius: 10px;

}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color:rgb(212, 109, 12);
}

.icons img{
    width: 50px;
    
}

.product-content{
 display: flex;
 justify-content: space-between;
}

.product-text{
    flex-basis: 50% ;
    text-align: left;
}

.product-text{
    font-size: 25px;
    color: darkgoldenrod;
    font-weight: bold;
    padding-top: 15px;
} 


.product-txt ,h3{
    font-size: 20px;
    color: rgb(196, 117, 14);
    text-transform: uppercase;

}
.product-txt ,p{
    font-size: 15px;
    color: rgb(82, 80, 80);
   

}

.product-img{
    flex-basis: 100%;
    text-align: center;
}

.product-img img{
   width: 100%;
   height: auto;
}


.swiper-slide:hover {
    background: linear-gradient(90deg, rgb(223, 223, 223) 0%, rgb(221, 141, 20) 100%);
 }

.btn-1{
    display: inline-block;
    padding:  13px 55px;
    border: 1px solid #050504;
    border-radius: 5px;
    color: #0c0b0a;  
    text-decoration: none ;
    margin-top: 20px;
}
.btn-1:hover {
    text-decoration: none;
}

@media (min-width: 700px) {
    .swiper{
        width: 100%;
        padding: 15px 0 20px 0;
    }
}

@media (min-width: 500px) {
    .swiper{
        width: 100%;
        padding: auto;
    }
}


@media (max-width: 480px) {
    .swiper {  /* Reemplaza "tu-clase" por la clase de tu div */
        max-width: 100%;  /* Reduce el ancho */
        padding: 10px;  /* Reduce el padding */
        font-size: 14px;  /* Reduce el tamaño del texto */
    }

    .product-img img {
        width: 100%;  /* Ajusta el tamaño de la imagen */
    }

    .swiper-slide{
        max-width: 85%;
    }
}
